flake8
cobra == 0.19.0
pytfa == 0.9.3
pandas == 1.1.5
matplotlib == 3.2.2
sympy == 1.5.1
pyopenms == 2.6.0
molmass == 2020.6.10
escher == 1.6.0
freezegun == 1.1.0
openpyxl == 3.0.6
requests == 2.25.1
lazy_object_proxy == 1.6.0
pypika == 0.48.2
networkx == 2.5.1
nbsphinx == 0.8.3
scipy == 1.6.0
seaborn == 0.11.1
scikit-learn == 0.24.2
pymatgen == 2022.0.10
